In [2]:
import pandas as pd

In [50]:
test = pd.read_html('http://www.ufcstats.com/event-details/620be7e0712d431b')[0]

In [51]:
test

,W/L,Fighter,Str,Td,Sub,Pass,Weight class,Method,Round,Time
0,win,Dustin Poirier Justin Gaethje,174 115,0 0,0 0,0 0,Lightweight,KO/TKO Punch,4,0:33
1,win,Alex Oliveira Carlos Condit,9 12,3 1,1 1,4 2,Welterweight,SUB Guillotine Choke,2,3:17
2,win,Israel Adesanya Marvin Vettori,57 46,0 2,0 0,0 1,Middleweight,S-DEC,3,5:00
3,win,Michelle Waterson Cortney Casey,61 36,3 0,0 3,0 1,Women's Strawweight,S-DEC,3,5:00
4,win,Antonio Carlos Junior Tim Boetsch,31 7,1 0,1 0,1 0,Middleweight,SUB Rear Naked Choke,1,4:28
5,win,Muslim Salikhov Ricky Rainey,25 19,0 0,0 0,0 0,Welterweight,KO/TKO Punch,2,4:12
6,win,John Moraga Wilson Reis,46 12,0 8,1 0,1 8,Flyweight,U-DEC,3,5:00
7,win,Brad Tavares Krzysztof Jotko,46 24,0 0,0 0,0 0,Middleweight,KO/TKO Punch,3,2:16
8,win,Gilbert Burns Dan Moret,31 20,2 0,0 0,2 0,Lightweight,KO/TKO Punch,2,0:59
9,win,Lauren Mueller Shana Dobson,58 68,2 1,0 0,1 0,Women's Flyweight,U-DEC,3,5:00
10,win,Yushin Okami Dhiego Lima,15 11,6 0,0 0,6 0,Welterweight,U-DEC,3,5:00
11,win,Adam Wieczorek Arjan Bhullar,13 9,0 2,1 0,0 1,Heavyweight,SUB Omoplata,2,1:59
12,win,Alejandro Perez Matthew Lopez,44 22,0 3,0 2,0 2,Bantamweight,KO/TKO Punches,2,3:42
13,win,Luke Sanders Patrick Williams,59 61,0 1,0 0,0 0,Bantamweight,U-DEC,3,5:00

In [39]:
holder = pd.read_html('http://www.ufcstats.com/statistics/fighters?char=a&page=all')

In [41]:
holder

[       First          Last      Nickname     Ht.       Wt.  Reach    Stance  \
 0        NaN           NaN           NaN     NaN       NaN    NaN       NaN
 1        Tom         Aaron           NaN      --  155 lbs.     --       NaN
 2      Danny        Abbadi  The Assassin  5' 11"  155 lbs.     --  Orthodox
 3      David        Abbott          Tank   6' 0"  265 lbs.     --    Switch
 4     Shamil  Abdurakhimov         Abrek   6' 3"  235 lbs.  76.0"  Orthodox
 ..       ...           ...           ...     ...       ...    ...       ...
 161      Abu       Azaitar           NaN   5' 9"  185 lbs.  76.0"  Orthodox
 162   Ottman       Azaitar     Bulldozer   5' 8"  155 lbs.  71.0"    Switch
 163     Luiz       Azeredo           NaN   5' 9"  154 lbs.     --  Orthodox
 164  Luciano       Azevedo           NaN   6' 3"  161 lbs.     --  Orthodox
 165   Hunter         Azure           NaN   5' 8"  145 lbs.  69.0"  Orthodox

         W     L    D  Belt
 0     NaN   NaN  NaN   NaN
 1     5.0   3.0  0.0   NaN
 2     4.0   6.0  0.0   NaN
 3    10.0  15.0  0.0   NaN
 4    20.0   5.0  0.0   NaN
 ..    ...   ...  ...   ...
 161  14.0   1.0  1.0   NaN
 162  12.0   0.0  0.0   NaN
 163  15.0  10.0  0.0   NaN
 164  17.0   9.0  1.0   NaN
 165   8.0   1.0  0.0   NaN

 [166 rows x 11 columns]]

In [38]:
holder[2]

'42 of 90  28 of 72'

In [20]:
test = pd.read_html('http://www.ufcstats.com/fight-details/73c70a628f0ef14b')

In [34]:
for x in range(0, len(test)):
    display(test[x])

,Fighter,KD,Sig. str.,Sig. str. %,Total str.,Td,Td %,Sub. att,Pass,Rev.
0,Carla Esparza Rose Namajunas,0 0,42 of 90 28 of 72,46% 38%,107 of 180 29 of 73,5 of 7 1 of 3,71% 33%,1 0,6 0,0 0

                        Fighter      KD           Sig. str. Sig. str. %  \
                        Round 1 Round 1             Round 1     Round 1
                        Round 2 Round 2             Round 2     Round 2
                        Round 3 Round 3             Round 3     Round 3
0  Carla Esparza Rose Namajunas    0  0  19 of 54  18 of 47    35%  38%
1  Carla Esparza Rose Namajunas    0  0   19 of 31  9 of 23    61%  39%
2  Carla Esparza Rose Namajunas    0  0      4 of 5  1 of 2    80%  50%

           Total str.            Td %           Sub. att    Pass    Rev.
              Round 1         Round 1            Round 1 Round 1 Round 1
              Round 2         Round 2            Round 2 Round 2 Round 2
              Round 3         Round 3 Round 3.1  Round 3 Round 3 Round 3
0  34 of 72  18 of 47  3 of 4  1 of 2  75%  50%     0  0    2  0    0  0
1  57 of 80  10 of 24  1 of 2  0 of 1   50%  0%     0  0    3  0    0  0
2    16 of 28  1 of 2  1 of 1  0 of 0  100%  0%     1  0    1  0    0  0

,Fighter,Sig. str,Sig. str. %,Head,Body,Leg,Distance,Clinch,Ground
0,Carla Esparza Rose Namajunas,42 of 90 28 of 72,46% 38%,36 of 79 16 of 53,6 of 10 8 of 14,0 of 1 4 of 5,11 of 45 22 of 58,11 of 21 4 of 10,20 of 24 2 of 4

,Fighter,Sig. str,Sig. str. %,Head,Body,Leg,Distance,Clinch,Ground,Unnamed: 9_level_0
,Round 1,Round 1,Round 1,Round 1,Round 1,Round 1,Round 1,Round 1,Round 1,Round 1
,Round 2,Round 2,Round 2,Round 2,Round 2,Round 2,Round 2,Round 2,Round 2,Round 2
,Round 3,Round 3,Round 3,Round 3,Round 3,Round 3,Round 3,Round 3,Round 3,Round 3
0,Carla Esparza Rose Namajunas,19 of 54 18 of 47,35% 38%,14 of 45 10 of 35,5 of 8 6 of 9,0 of 1 2 of 3,8 of 36 14 of 40,8 of 15 4 of 7,3 of 3 0 of 0,NaN
1,Carla Esparza Rose Namajunas,19 of 31 9 of 23,61% 39%,18 of 29 5 of 16,1 of 2 2 of 5,0 of 0 2 of 2,3 of 9 7 of 16,3 of 6 0 of 3,13 of 16 2 of 4,NaN
2,Carla Esparza Rose Namajunas,4 of 5 1 of 2,80% 50%,4 of 5 1 of 2,0 of 0 0 of 0,0 of 0 0 of 0,0 of 0 1 of 2,0 of 0 0 of 0,4 of 5 0 of 0,NaN

In [10]:
holder = test.iloc[0]

In [14]:
fighter_list = holder.Fighter.split()

In [17]:
name1 = fighter_list[:2]
name1
separator = ' '

In [18]:
print(separator.join(name1))

Carla Esparza