In [1]:
import sqlite3
import pandas as pd
from pandas import DataFrame

In [2]:
conn = sqlite3.connect('UFC_database')  
c = conn.cursor()

In [3]:
fighter_physical_stats_df = pd.read_csv('fighter_physical_stats_csv')
fighter_career_stats_df = pd.read_csv('fighter_career_stats_csv')
events_df = pd.read_csv('event_df_csv')
event_chart_stats = pd.read_csv('chart_stats_csv')

In [4]:
fighter_physical_stats_df.to_sql('Physical_Stats', conn, if_exists='append', index='False')
fighter_career_stats_df.to_sql('Career_Stats', conn, if_exists='append', index='False')
events_df.to_sql('Events', conn, if_exists='append', index='False')
event_chart_stats.to_sql('Fight_Chart_Stats',conn,  if_exists='append', index="False")

C:\Users\Desmond\Anaconda3\envs\work-env\lib\site-packages\pandas\core\generic.py:2663: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

In [71]:
Phys_Stats = pd.DataFrame(c.execute("SELECT * FROM Physical_Stats").fetchall())
Phys_Stats.drop([0], axis=1, inplace=True)
Phys_Stats.columns = ['Name', 'Wins', 'Loses', 'Draw', 'No_Contests', 'Height', 'Weight', 'Reach', 'Stance', 'DOB']
Phys_Stats.head()

,Name,Wins,Loses,Draw,No_Contests,Height,Weight,Reach,Stance,DOB
0,Felipe Arantes,18,10,1,2,68.0,135.0,73.0,Orthodox,"Feb 09, 1988"
1,Marcus Aurelio,22,10,0,0,70.0,155.0,74.0,Orthodox,"Aug 18, 1973"
2,Aleksandra Albu,3,2,0,0,62.0,115.0,63.0,Orthodox,"Jul 14, 1990"
3,Makwan Amirkhani,16,4,0,0,70.0,145.0,72.0,Southpaw,"Nov 08, 1988"
4,Sam Adkins,7,20,2,0,75.0,225.0,NaN,Orthodox,"Apr 26, 1965"

In [69]:
Career_Stats = pd.DataFrame(c.execute("""SELECT * FROM Career_Stats""").fetchall())
Career_Stats.drop([0], axis=1, inplace=True)
Career_Stats.columns = ["Name", "SLpMs", "StrAccs", "SApMs", "StrDefs", "TDAvgs", "TDAccs", "TDDefs", "SubAvgs"]
Career_Stats.head()

,Name,SLpMs,StrAccs,SApMs,StrDefs,TDAvgs,TDAccs,TDDefs,SubAvgs
0,Felipe Arantes,2.37,45.0,2.66,64.0,0.93,47.0,41.0,0.7
1,Marcus Aurelio,1.42,33.0,2.27,59.0,1.69,27.0,27.0,1.3
2,Aleksandra Albu,4.83,47.0,5.56,38.0,2.27,50.0,77.0,0.4
3,Makwan Amirkhani,1.55,46.0,2.73,50.0,3.45,36.0,57.0,1.6
4,Sam Adkins,0.00,0.0,0.00,0.0,0.00,0.0,0.0,0.0

In [78]:
Fighter_Profiles = pd.concat([Phys_Stats, Career_Stats], keys=['Name'])

In [79]:
Fighter_Profiles

                      Name  Wins  Loses  Draw  No_Contests  Height  Weight  \
Name 0      Felipe Arantes    18     10     1            2    68.0   135.0
     1      Marcus Aurelio    22     10     0            0    70.0   155.0
     2     Aleksandra Albu     3      2     0            0    62.0   115.0
     3    Makwan Amirkhani    16      4     0            0    70.0   145.0
     4          Sam Adkins     7     20     2            0    75.0   225.0
...                    ...   ...    ...   ...          ...     ...     ...
     514       Levi Alford     1      7     0            0     NaN     NaN
     515      Veta Arteaga     3      1     0            0    67.0   125.0
     516      Danny Abbadi     4      6     0            0    71.0   155.0
     517     Eddie Alvarez    29      6     0            1    69.0   155.0
     518   Zarrukh Adashev     3      2     0            0    65.0   125.0

          Reach    Stance           DOB
Name 0     73.0  Orthodox  Feb 09, 1988
     1     74.0  Orthodox  Aug 18, 1973
     2     63.0  Orthodox  Jul 14, 1990
     3     72.0  Southpaw  Nov 08, 1988
     4      NaN  Orthodox  Apr 26, 1965
...         ...       ...           ...
     514    NaN      None            --
     515    NaN      None            --
     516    NaN  Orthodox  Jul 03, 1983
     517   69.0  Orthodox  Jan 11, 1984
     518   65.0  Southpaw  Jul 29, 1992

[519 rows x 10 columns]

In [28]:
Events = pd.DataFrame(c.execute("""SELECT * FROM Events""").fetchall())
display(Events.head(), len(df))

,0,1,2,3,4,5,6,7,8,9,10,11
0,0,49,0,0,0,Jeremy Stephens,Featherweight,KO/TKO Punch,2,2:36,UFC Fight Night: Stephens vs. Choi,"January 14, 2018"
1,1,44,0,0,0,Dooho Choi,Featherweight,KO/TKO Punch,2,2:36,UFC Fight Night: Stephens vs. Choi,"January 14, 2018"
2,2,55,2,1,4,Jessica-Rose Clark,Women's Flyweight,U-DEC,3,5:00,UFC Fight Night: Stephens vs. Choi,"January 14, 2018"
3,3,54,0,0,0,Paige VanZant,Women's Flyweight,U-DEC,3,5:00,UFC Fight Night: Stephens vs. Choi,"January 14, 2018"
4,4,50,8,0,7,Kamaru Usman,Welterweight,U-DEC,3,5:00,UFC Fight Night: Stephens vs. Choi,"January 14, 2018"

107604

In [29]:
Fight_Chart_Stats = pd.DataFrame(c.execute("""SELECT * FROM Fight_Chart_Stats""").fetchall())
display(Fight_Chart_Stats.head(), len(Fight_Chart_Stats))

,0,1,2,3,4,5,6,7,8
0,0,Jeremy Stephens,65%,12%,22%,85%,6%,8%,UFC Fight Night: Stephens vs. Choi
1,1,Dooho Choi,54%,6%,38%,95%,4%,0%,UFC Fight Night: Stephens vs. Choi
2,2,Paige VanZant,53%,33%,12%,74%,3%,22%,UFC Fight Night: Stephens vs. Choi
3,3,Jessica-Rose Clark,65%,21%,12%,58%,12%,29%,UFC Fight Night: Stephens vs. Choi
4,4,Kamaru Usman,58%,18%,24%,16%,16%,68%,UFC Fight Night: Stephens vs. Choi

35136

In [36]:
Event_Breakdowns = pd.DataFrame(c.execute("""SELECT * 
                               FROM Fight_Chart_Stats F
                               LEFT JOIN Events E
                               ON F.Fighter_Name = E.Fighter
                                   AND E.Event = F.Event_Name""").fetchall())
Event_Breakdowns.head()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,0,Jeremy Stephens,65%,12%,22%,85%,6%,8%,UFC Fight Night: Stephens vs. Choi,0,...,0,0,0,Jeremy Stephens,Featherweight,KO/TKO Punch,2,2:36,UFC Fight Night: Stephens vs. Choi,"January 14, 2018"
1,0,Jeremy Stephens,65%,12%,22%,85%,6%,8%,UFC Fight Night: Stephens vs. Choi,0,...,0,0,0,Jeremy Stephens,Featherweight,KO/TKO Punch,2,2:36,UFC Fight Night: Stephens vs. Choi,"January 14, 2018"
2,0,Jeremy Stephens,65%,12%,22%,85%,6%,8%,UFC Fight Night: Stephens vs. Choi,0,...,0,0,0,Jeremy Stephens,Featherweight,KO/TKO Punch,2,2:36,UFC Fight Night: Stephens vs. Choi,"January 14, 2018"
3,1,Dooho Choi,54%,6%,38%,95%,4%,0%,UFC Fight Night: Stephens vs. Choi,1,...,0,0,0,Dooho Choi,Featherweight,KO/TKO Punch,2,2:36,UFC Fight Night: Stephens vs. Choi,"January 14, 2018"
4,1,Dooho Choi,54%,6%,38%,95%,4%,0%,UFC Fight Night: Stephens vs. Choi,1,...,0,0,0,Dooho Choi,Featherweight,KO/TKO Punch,2,2:36,UFC Fight Night: Stephens vs. Choi,"January 14, 2018"

In [37]:
Event_Breakdowns = Event_Breakdowns[::2].drop([0, 8, 9, 14], axis=1)

In [38]:
Event_Breakdowns = Event_Breakdowns.drop_duplicates()

In [39]:
Event_Breakdowns

,1,2,3,4,5,6,7,10,11,12,13,15,16,17,18,19,20
0,Jeremy Stephens,65%,12%,22%,85%,6%,8%,49,0,0,0,Featherweight,KO/TKO Punch,2,2:36,UFC Fight Night: Stephens vs. Choi,"January 14, 2018"
4,Dooho Choi,54%,6%,38%,95%,4%,0%,44,0,0,0,Featherweight,KO/TKO Punch,2,2:36,UFC Fight Night: Stephens vs. Choi,"January 14, 2018"
6,Paige VanZant,53%,33%,12%,74%,3%,22%,54,0,0,0,Women's Flyweight,U-DEC,3,5:00,UFC Fight Night: Stephens vs. Choi,"January 14, 2018"
10,Jessica-Rose Clark,65%,21%,12%,58%,12%,29%,55,2,1,4,Women's Flyweight,U-DEC,3,5:00,UFC Fight Night: Stephens vs. Choi,"January 14, 2018"
12,Kamaru Usman,58%,18%,24%,16%,16%,68%,50,8,0,7,Welterweight,U-DEC,3,5:00,UFC Fight Night: Stephens vs. Choi,"January 14, 2018"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35854,TJ Brown,81%,18%,0%,28%,31%,40%,32,7,0,4,Featherweight,SUB Guillotine Choke,2,3:38,UFC Fight Night: Benavidez vs. Figueiredo,"February 29, 2020"
35856,Aalon Cruz,100%,0%,0%,100%,0%,0%,2,0,0,0,Featherweight,KO/TKO Punches,1,1:25,UFC Fight Night: Benavidez vs. Figueiredo,"February 29, 2020"
35860,Spike Carlyle,95%,0%,5%,10%,20%,70%,20,0,0,1,Featherweight,KO/TKO Punches,1,1:25,UFC Fight Night: Benavidez vs. Figueiredo,"February 29, 2020"
35862,Sean Brady,63%,6%,29%,68%,2%,29%,47,4,1,6,Welterweight,U-DEC,3,5:00,UFC Fight Night: Benavidez vs. Figueiredo,"February 29, 2020"
35866,Ismail Naurdiev,43%,27%,29%,89%,10%,0%,37,0,0,0,Welterweight,U-DEC,3,5:00,UFC Fight Night: Benavidez vs. Figueiredo,"February 29, 2020"