In [2]:
import sqlite3
import pandas as pd
from pandas import DataFrame

In [3]:
conn = sqlite3.connect('UFC_database')  
c = conn.cursor()

In [4]:
fighter_physical_stats_df = pd.read_csv('fighter_physical_stats_csv')
fighter_career_stats_df = pd.read_csv('fighter_career_stats_csv')
events_df = pd.read_csv('event_df_csv')
event_chart_stats = pd.read_csv('chart_stats_csv')

In [6]:
fighter_physical_stats_df.to_sql('Physical_Stats', conn, if_exists='append', index='False')
fighter_career_stats_df.to_sql('Career_Stats', conn, if_exists='append', index='False')
events_df.to_sql('Events', conn, if_exists='append', index='False')
event_chart_stats.to_sql('Fight_Chart_Stats',conn,  if_exists='append', index="False")

C:\Users\Desmond\Anaconda3\envs\work-env\lib\site-packages\pandas\core\generic.py:2663: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

In [7]:
df = pd.DataFrame(c.execute("SELECT * FROM Physical_Stats").fetchall())
df.head()

,0,1,2,3,4,5,6,7,8,9,10
0,0,Felipe Arantes,18,10,1,2,68.0,135.0,73.0,Orthodox,"Feb 09, 1988"
1,1,Marcus Aurelio,22,10,0,0,70.0,155.0,74.0,Orthodox,"Aug 18, 1973"
2,2,Aleksandra Albu,3,2,0,0,62.0,115.0,63.0,Orthodox,"Jul 14, 1990"
3,3,Makwan Amirkhani,16,4,0,0,70.0,145.0,72.0,Southpaw,"Nov 08, 1988"
4,4,Sam Adkins,7,20,2,0,75.0,225.0,NaN,Orthodox,"Apr 26, 1965"

In [9]:
df = pd.DataFrame(c.execute("""SELECT * FROM Career_Stats""").fetchall())
df.head()

   0                 1     2     3     4     5     6     7     8    9
0  0    Felipe Arantes  2.37  45.0  2.66  64.0  0.93  47.0  41.0  0.7
1  1    Marcus Aurelio  1.42  33.0  2.27  59.0  1.69  27.0  27.0  1.3
2  2   Aleksandra Albu  4.83  47.0  5.56  38.0  2.27  50.0  77.0  0.4
3  3  Makwan Amirkhani  1.55  46.0  2.73  50.0  3.45  36.0  57.0  1.6
4  4        Sam Adkins  0.00   0.0  0.00   0.0  0.00   0.0   0.0  0.0

In [48]:
df = pd.DataFrame(c.execute("""SELECT * FROM Events""").fetchall())
display(df.head(), len(df))

,0,1,2,3,4,5,6,7,8,9,10,11
0,0,49,0,0,0,Jeremy Stephens,Featherweight,KO/TKO Punch,2,2:36,UFC Fight Night: Stephens vs. Choi,"January 14, 2018"
1,1,44,0,0,0,Dooho Choi,Featherweight,KO/TKO Punch,2,2:36,UFC Fight Night: Stephens vs. Choi,"January 14, 2018"
2,2,55,2,1,4,Jessica-Rose Clark,Women's Flyweight,U-DEC,3,5:00,UFC Fight Night: Stephens vs. Choi,"January 14, 2018"
3,3,54,0,0,0,Paige VanZant,Women's Flyweight,U-DEC,3,5:00,UFC Fight Night: Stephens vs. Choi,"January 14, 2018"
4,4,50,8,0,7,Kamaru Usman,Welterweight,U-DEC,3,5:00,UFC Fight Night: Stephens vs. Choi,"January 14, 2018"

23036

In [49]:
df = pd.DataFrame(c.execute("""SELECT * FROM Fight_Chart_Stats""").fetchall())
display(df.head(), len(df))

,0,1,2,3,4,5,6,7,8
0,0,Jeremy Stephens,65%,12%,22%,85%,6%,8%,UFC Fight Night: Stephens vs. Choi
1,1,Dooho Choi,54%,6%,38%,95%,4%,0%,UFC Fight Night: Stephens vs. Choi
2,2,Paige VanZant,53%,33%,12%,74%,3%,22%,UFC Fight Night: Stephens vs. Choi
3,3,Jessica-Rose Clark,65%,21%,12%,58%,12%,29%,UFC Fight Night: Stephens vs. Choi
4,4,Kamaru Usman,58%,18%,24%,16%,16%,68%,UFC Fight Night: Stephens vs. Choi

23424

In [51]:
df = pd.DataFrame(c.execute("""SELECT * 
                               FROM Fight_Chart_Stats F
                               LEFT JOIN Events E
                               ON F.Fighter_Name = E.Fighter
                                   AND E.Event = F.Event_Name""").fetchall())
df.head()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,0,Jeremy Stephens,65%,12%,22%,85%,6%,8%,UFC Fight Night: Stephens vs. Choi,0,...,0,0,0,Jeremy Stephens,Featherweight,KO/TKO Punch,2,2:36,UFC Fight Night: Stephens vs. Choi,"January 14, 2018"
1,0,Jeremy Stephens,65%,12%,22%,85%,6%,8%,UFC Fight Night: Stephens vs. Choi,0,...,0,0,0,Jeremy Stephens,Featherweight,KO/TKO Punch,2,2:36,UFC Fight Night: Stephens vs. Choi,"January 14, 2018"
2,1,Dooho Choi,54%,6%,38%,95%,4%,0%,UFC Fight Night: Stephens vs. Choi,1,...,0,0,0,Dooho Choi,Featherweight,KO/TKO Punch,2,2:36,UFC Fight Night: Stephens vs. Choi,"January 14, 2018"
3,1,Dooho Choi,54%,6%,38%,95%,4%,0%,UFC Fight Night: Stephens vs. Choi,1,...,0,0,0,Dooho Choi,Featherweight,KO/TKO Punch,2,2:36,UFC Fight Night: Stephens vs. Choi,"January 14, 2018"
4,2,Paige VanZant,53%,33%,12%,74%,3%,22%,UFC Fight Night: Stephens vs. Choi,3,...,0,0,0,Paige VanZant,Women's Flyweight,U-DEC,3,5:00,UFC Fight Night: Stephens vs. Choi,"January 14, 2018"

In [52]:
df[::2].drop([0, 8, 9, 14], axis=1)

,0,1,2,3,4,5,6,7,10,11,12,13,15,16,17,18,19,20
0,0,Jeremy Stephens,65%,12%,22%,85%,6%,8%,49,0,0,0,Featherweight,KO/TKO Punch,2,2:36,UFC Fight Night: Stephens vs. Choi,"January 14, 2018"
2,1,Dooho Choi,54%,6%,38%,95%,4%,0%,44,0,0,0,Featherweight,KO/TKO Punch,2,2:36,UFC Fight Night: Stephens vs. Choi,"January 14, 2018"
4,2,Paige VanZant,53%,33%,12%,74%,3%,22%,54,0,0,0,Women's Flyweight,U-DEC,3,5:00,UFC Fight Night: Stephens vs. Choi,"January 14, 2018"
6,3,Jessica-Rose Clark,65%,21%,12%,58%,12%,29%,55,2,1,4,Women's Flyweight,U-DEC,3,5:00,UFC Fight Night: Stephens vs. Choi,"January 14, 2018"
8,4,Kamaru Usman,58%,18%,24%,16%,16%,68%,50,8,0,7,Welterweight,U-DEC,3,5:00,UFC Fight Night: Stephens vs. Choi,"January 14, 2018"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47814,11707,TJ Brown,81%,18%,0%,28%,31%,40%,32,7,0,4,Featherweight,SUB Guillotine Choke,2,3:38,UFC Fight Night: Benavidez vs. Figueiredo,"February 29, 2020"
47816,11708,Aalon Cruz,100%,0%,0%,100%,0%,0%,2,0,0,0,Featherweight,KO/TKO Punches,1,1:25,UFC Fight Night: Benavidez vs. Figueiredo,"February 29, 2020"
47818,11709,Spike Carlyle,95%,0%,5%,10%,20%,70%,20,0,0,1,Featherweight,KO/TKO Punches,1,1:25,UFC Fight Night: Benavidez vs. Figueiredo,"February 29, 2020"
47820,11710,Sean Brady,63%,6%,29%,68%,2%,29%,47,4,1,6,Welterweight,U-DEC,3,5:00,UFC Fight Night: Benavidez vs. Figueiredo,"February 29, 2020"
47822,11711,Ismail Naurdiev,43%,27%,29%,89%,10%,0%,37,0,0,0,Welterweight,U-DEC,3,5:00,UFC Fight Night: Benavidez vs. Figueiredo,"February 29, 2020"