In [29]:
import sqlite3
import pandas as pd
from pandas import DataFrame

In [30]:
conn = sqlite3.connect('UFC_Fighter_Encyclopedia.db')  
c = conn.cursor()

In [41]:
fighter_physical_stats_df = pd.read_csv('fighter_physical_stats_csv')

In [48]:

fighter_physical_stats_df.to_sql('Physical_Stats', conn, if_exists='append', index='False')

In [53]:
df = pd.DataFrame(c.execute('SELECT name from Physical_Stats').fetchall())
df

                   0
0     Chris Amarante
1         Kenji Arai
2         Blas Avena
3         Sam Adkins
4    Andrei Arlovski
..               ...
333      Amir Albazi
334     Danny Abbadi
335     Nick Agallar
336   Viviane Araujo
337      Scott Adams

[338 rows x 1 columns]